body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'IM Fell English', serif;
    font-size: 100%;
    margin: 0 auto;
    width: 1000px;
}

header {
    background-color: none;
    font-family: 'IM Fell English', serif;
    text-align: center;
}
.social-links{
    padding: 20px 0px 0px 900px;

}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-block;
    padding: 20px 10px 20px 10px
}

.nav-1 {
    list-style-type: none;
}
.nav-1 {
    font-size: 1em;
    color: slategrey;
    display: inline-block;
}

.nav-1 li{
    display: inline-block;
    padding: 20px 10px 20px 10px;
}

.nav-2 {
    font-size: 3em;
    color: slategrey;
    display: inline-block;
    padding: 200px 80px 100px 100px;
}

.nav-1 a:link {
    color: slategray;
    text-decoration: none;
    list-style-type: none;
}

.nav-1 a:visied {
    color: slategray;
    text-decoration: none;
    list-style-type: none;
}

article {}

figure {
    text-align: center;
}

figure img {
    object-position: center;
        height: 50%;
    width: auto;
}

/*
.graphic-gallery figure {
    color: blue;
    float: left;
    height: 175px;
    margin: 20px;
    text-align: center;
    width: 28%;
}
*/

h1 {
    background-color: none;
    font-size: 2em;
    color: black;
padding: 50px 0px 10px 0px;
}

h2 {
    background-color: #558C89;
    color: #FFF;
}

h3 {
    background-color: none;
    color: black;
    font-size: 2em;
}

p {
    color: #4C4C4C;
}

figcaption {
    padding: 20px 0px 40px 0px;
}

.about {
    float:left;
    padding-left: 200px;
}

.contact {
    float:right;
    padding-right: 250px;
}

footer {
    text-align: center;
    padding-top: 15px;
}
